body {
	font-family: "Raleway", serif;
	font-weight: 300;
	color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "BankGothicBT", sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #fff;
}
ul li {
	color: #fff;
	margin: 0;
	padding: 0;
}
a, a:hover {
	color: #fff;
}
h1 {
	font-size: 52px;
}
a.logo {
	line-height: 120px;
}
.navbar-nav > li > a {
	font-size: 18px;
}
img {
	max-width: 100%;
}
.headerWrapper {
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
}
.containWrapper {
	background: #232323;
	color: #b6b6b6;
}
.featuresWrapper {
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	padding: 10px 0;
}
.featureCol {
	font-size: 20px;
	line-height: 28px;
	padding: 0;
}
.featureCol img, .featureCol p {
	float: left;
}
.featureCol p {
	padding: 80px 40px 10px 40px;
	margin: 0;
	color: #fff;
}
.featureCol1 {
	background: #8c8571;
}
.featureCol2 {
	background: #707c51;
}
.featureCol3 {
	background: #a2a2a2;
}
.welcometext, .quickLinks, .additionalNotes {
	padding: 50px;
}
.welcomenote {
	background: #171717;
	margin-top: 50px;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
}
.welcomenote p {
	font-family: "Raleway-LightItalic", sans-serif;
	font-style: italic;
}
.quickLinks {
	background: #494949;
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}
.noPadding {
	padding: 0;
}
.additionalNotes {
	background: #2e2e2e;
	color: #fff;
}
.undelinerLarge, .undelinerSmall {
	height: 1px;
	background: #5daaca;
	width: 100px;
	display: block;
	margin-bottom: 30px;
}
.contactBlock {
	text-align: right;
	background: url("../images/support.png") no-repeat #fff;
	height: 292px;
	padding: 50px 60px;
	background-size: cover
}
.contactBlock h2 {
	font-weight: 500;
	margin: 0;
	color: #000;
	font-size: 24px;
	font-family: "Raleway";
}
.phoneno {
	font-size: 34px;
	color: #5daaca;
	font-weight: bold;
}
.next {
	background-image: url("../images/arrow_front.png");
	width: 44px;
	height: 50px;
}
.previous {
	background-image: url("../images/arrow_back.png");
	width: 44px;
	height: 50px;
}
.social {
	list-style: none;
	margin: 0;
	padding: 0;
}
.social li a {
	background: url(../images/social.png) no-repeat;
	height: 49px;
	width: 42px;
	display: inline-block;
	background-position-y: 0px;
	background-position-x: 0px;
	opacity: 0.5;
	margin-right: 20px;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	float: left;
}
.social li a:hover {
	opacity: 1;
}
.social li a.fb {
	background-position-x: 0;
}
.social li a.twitter {
	background-position-x: -42px;
}
.social li a.gplus {
	background-position-x: -84px;
}
.social li a.linkedin {
	background-position-x: -126px;
}
.footer {
	text-align: center;
	padding: 35px 0;
}

.noMargin{margin:0;}
.mainContain{padding:30px;}
.contactDetailList *{margin-bottom: 5px;}
input[type="submit"] {
	background: #326F59;
	border: none;
	float: right;
	padding: 5px 15px;
	color: #fff;
	line-height: 30px;
}
input[type='submit']:hover {
	background: #295646;
}
@font-face {
	font-family: 'BankGothicBT';
	src: url('../fonts/BankGothicBT-Light.eot');
	src: url('../fonts/BankGothicBT-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/BankGothicBT-Light.woff') format('woff'), url('../fonts/BankGothicBT-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'BankGothicBT';
	src: url('../fonts/BankGothicBT-Medium.eot');
	src: url('../fonts/BankGothicBT-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/BankGothicBT-Medium.woff') format('woff'), url('../fonts/BankGothicBT-Medium.ttf')  format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Italic.eot');
	src: url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Italic.woff') format('woff'), url('../fonts/Raleway-Italic.ttf')  format('truetype');
	font-weight: normal;
	font-style: italic;
}
nt-face {
	font-family: 'Raleway-Regular';
	src: url('../fonts/Raleway-Regular.eot');
	src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-Light';
	src: url('../fonts/Raleway-Light.eot');
	src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Light.woff') format('woff'), url('../fonts/Raleway-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-Semi';
	src: url('../fonts/Raleway-SemiBoldItalic.eot');
	src: url('../fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-SemiBoldItalic.woff') format('woff'), url('../fonts/Raleway-SemiBoldItalic.ttf')  format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Raleway-LightItalic';
	src: url('../fonts/Raleway-LightItalic.eot');
	src: url('../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-LightItalic.woff') format('woff'), url('../fonts/Raleway-LightItalic.ttf')  format('truetype');
	font-weight: 300;
	font-style: italic;
}